<div class="container">
  <div class="row ">
      <h2 class="page-title text-center">Formulaire d'ajout d'un nouveau livre | Methode Reactive</h2>
      <div class="col-md-8 col-md-offset-2 jumbotron">
          <form (ngSubmit)="onSaveBook()" [formGroup]="bookForm">
            <div class="form-group">
              <label for="title">Titre</label>
              <input formControlName="title" type="text" class="form-control" id="title" placeholder="Titre">
            </div>

            <div class="form-group">
              <label for="body">Résumé du livre</label>
              <textarea formControlName="body" type="text" class="form-control" id="body" placeholder="Résumé du livre"
                rows="8"></textarea>
            </div>

            <div class="form-group">
              <label for="author">Auteur</label>
              <input formControlName="author" type="text" class="form-control" id="author" placeholder="Nom de l'auteur">
            </div>

            <div class="form-group">
              <h4>Ajouter une photo</h4>
              <input (change)="detectFiles($event)" accept="image/*" type="file" class="form-control">
              <b class="text-succes" *ngIf="fileUploaded"> Fichier chargé !</b>
            </div>

            <button [disabled]="!bookForm.valid || fileIsUploading "    type="submit" class="btn btn-success btn-block"> Ajouter un
              livre </button>
          </form>
      </div>
  </div>
</div>
